.vscode/settings.json
*.json
__vm/*
*.vcxproj*
.vs/*
*.sln
Debug/*
Release/*
.pio/build/project.checksum
.pio/build/esp32dev/.sconsign38.dblite
.pio/build/esp32dev/bootloader.bin
.pio/build/esp32dev/firmware.map
.pio/build/esp32dev/libFrameworkArduino.a
.pio/build/esp32dev/partitions.bin
.pio/build/esp32dev/FrameworkArduino/base64.cpp.d
.pio/build/esp32dev/FrameworkArduino/base64.cpp.o
.pio/build/esp32dev/FrameworkArduino/cbuf.cpp.d
.pio/build/esp32dev/FrameworkArduino/cbuf.cpp.o
.pio/build/esp32dev/FrameworkArduino/Esp.cpp.d
.pio/build/esp32dev/FrameworkArduino/Esp.cpp.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-adc.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-adc.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-bt.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-bt.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-cpu.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-cpu.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-dac.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-dac.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-gpio.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-gpio.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-i2c-slave.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-i2c-slave.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-i2c.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-i2c.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-ledc.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-ledc.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-matrix.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-matrix.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-misc.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-misc.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-psram.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-psram.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-rgb-led.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-rgb-led.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-rmt.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-rmt.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-sigmadelta.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-sigmadelta.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-spi.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-spi.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-time.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-time.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-timer.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-timer.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-tinyusb.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-tinyusb.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-touch.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-touch.c.o
.pio/build/esp32dev/FrameworkArduino/esp32-hal-uart.c.d
.pio/build/esp32dev/FrameworkArduino/esp32-hal-uart.c.o
.pio/build/esp32dev/FrameworkArduino/firmware_msc_fat.c.d
.pio/build/esp32dev/FrameworkArduino/firmware_msc_fat.c.o
.pio/build/esp32dev/FrameworkArduino/FirmwareMSC.cpp.d
.pio/build/esp32dev/FrameworkArduino/FirmwareMSC.cpp.o
.pio/build/esp32dev/FrameworkArduino/FunctionalInterrupt.cpp.d
.pio/build/esp32dev/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/esp32dev/FrameworkArduino/HardwareSerial.cpp.d
.pio/build/esp32dev/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/esp32dev/FrameworkArduino/HWCDC.cpp.d
.pio/build/esp32dev/FrameworkArduino/HWCDC.cpp.o
.pio/build/esp32dev/FrameworkArduino/IPAddress.cpp.d
.pio/build/esp32dev/FrameworkArduino/IPAddress.cpp.o
.pio/build/esp32dev/FrameworkArduino/IPv6Address.cpp.d
.pio/build/esp32dev/FrameworkArduino/IPv6Address.cpp.o
.pio/build/esp32dev/FrameworkArduino/main.cpp.d
.pio/build/esp32dev/FrameworkArduino/main.cpp.o
.pio/build/esp32dev/FrameworkArduino/MD5Builder.cpp.d
.pio/build/esp32dev/FrameworkArduino/MD5Builder.cpp.o
.pio/build/esp32dev/FrameworkArduino/Print.cpp.d
.pio/build/esp32dev/FrameworkArduino/Print.cpp.o
.pio/build/esp32dev/FrameworkArduino/stdlib_noniso.c.d
.pio/build/esp32dev/FrameworkArduino/stdlib_noniso.c.o
.pio/build/esp32dev/FrameworkArduino/Stream.cpp.d
.pio/build/esp32dev/FrameworkArduino/Stream.cpp.o
.pio/build/esp32dev/FrameworkArduino/StreamString.cpp.d
.pio/build/esp32dev/FrameworkArduino/StreamString.cpp.o
.pio/build/esp32dev/FrameworkArduino/Tone.cpp.d
.pio/build/esp32dev/FrameworkArduino/Tone.cpp.o
.pio/build/esp32dev/FrameworkArduino/USB.cpp.d
.pio/build/esp32dev/FrameworkArduino/USB.cpp.o
.pio/build/esp32dev/FrameworkArduino/USBCDC.cpp.d
.pio/build/esp32dev/FrameworkArduino/USBCDC.cpp.o
.pio/build/esp32dev/FrameworkArduino/USBMSC.cpp.d
.pio/build/esp32dev/FrameworkArduino/USBMSC.cpp.o
.pio/build/esp32dev/FrameworkArduino/wiring_pulse.c.d
.pio/build/esp32dev/FrameworkArduino/wiring_pulse.c.o
.pio/build/esp32dev/FrameworkArduino/wiring_shift.c.d
.pio/build/esp32dev/FrameworkArduino/wiring_shift.c.o
.pio/build/esp32dev/FrameworkArduino/WMath.cpp.d
.pio/build/esp32dev/FrameworkArduino/WMath.cpp.o
.pio/build/esp32dev/FrameworkArduino/WString.cpp.d
.pio/build/esp32dev/FrameworkArduino/WString.cpp.o
.pio/build/esp32dev/FrameworkArduino/libb64/cdecode.c.d
.pio/build/esp32dev/FrameworkArduino/libb64/cdecode.c.o
.pio/build/esp32dev/FrameworkArduino/libb64/cencode.c.d
.pio/build/esp32dev/FrameworkArduino/libb64/cencode.c.o
.pio/build/esp32dev/lib024/libTMC2209.a
.pio/build/esp32dev/lib024/TMC2209/TMC2209.cpp.d
.pio/build/esp32dev/lib024/TMC2209/TMC2209.cpp.o
.pio/build/esp32dev/lib072/libEspSoftwareSerial.a
.pio/build/esp32dev/lib072/EspSoftwareSerial/SoftwareSerial.cpp.d
.pio/build/esp32dev/lib072/EspSoftwareSerial/SoftwareSerial.cpp.o
.pio/build/esp32dev/lib364/libWire.a
.pio/build/esp32dev/lib364/Wire/Wire.cpp.d
.pio/build/esp32dev/lib364/Wire/Wire.cpp.o
.pio/build/esp32dev/lib946/libWiFi.a
.pio/build/esp32dev/lib946/WiFi/WiFi.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFi.cpp.o
.pio/build/esp32dev/lib946/WiFi/WiFiAP.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFiAP.cpp.o
.pio/build/esp32dev/lib946/WiFi/WiFiClient.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFiClient.cpp.o
.pio/build/esp32dev/lib946/WiFi/WiFiGeneric.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFiGeneric.cpp.o
.pio/build/esp32dev/lib946/WiFi/WiFiMulti.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFiMulti.cpp.o
.pio/build/esp32dev/lib946/WiFi/WiFiScan.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFiScan.cpp.o
.pio/build/esp32dev/lib946/WiFi/WiFiServer.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFiServer.cpp.o
.pio/build/esp32dev/lib946/WiFi/WiFiSTA.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFiSTA.cpp.o
.pio/build/esp32dev/lib946/WiFi/WiFiUdp.cpp.d
.pio/build/esp32dev/lib946/WiFi/WiFiUdp.cpp.o
.pio/build/esp32dev/lib94e/libSPI.a
.pio/build/esp32dev/lib94e/SPI/SPI.cpp.d
.pio/build/esp32dev/lib94e/SPI/SPI.cpp.o
.pio/build/esp32dev/lib992/libBluetoothSerial.a
.pio/build/esp32dev/lib992/BluetoothSerial/BluetoothSerial.cpp.d
.pio/build/esp32dev/lib992/BluetoothSerial/BluetoothSerial.cpp.o
.pio/build/esp32dev/lib992/BluetoothSerial/BTAddress.cpp.d
.pio/build/esp32dev/lib992/BluetoothSerial/BTAddress.cpp.o
.pio/build/esp32dev/lib992/BluetoothSerial/BTAdvertisedDeviceSet.cpp.d
.pio/build/esp32dev/lib992/BluetoothSerial/BTAdvertisedDeviceSet.cpp.o
.pio/build/esp32dev/lib992/BluetoothSerial/BTScanResultsSet.cpp.d
.pio/build/esp32dev/lib992/BluetoothSerial/BTScanResultsSet.cpp.o
.pio/build/esp32dev/liba57/libFS.a
.pio/build/esp32dev/liba57/FS/FS.cpp.d
.pio/build/esp32dev/liba57/FS/FS.cpp.o
.pio/build/esp32dev/liba57/FS/vfs_api.cpp.d
.pio/build/esp32dev/liba57/FS/vfs_api.cpp.o
.pio/build/esp32dev/libc29/libWebServer.a
.pio/build/esp32dev/libc29/WebServer/Parsing.cpp.d
.pio/build/esp32dev/libc29/WebServer/Parsing.cpp.o
.pio/build/esp32dev/libc29/WebServer/WebServer.cpp.d
.pio/build/esp32dev/libc29/WebServer/WebServer.cpp.o
.pio/build/esp32dev/libc29/WebServer/detail/mimetable.cpp.d
.pio/build/esp32dev/libc29/WebServer/detail/mimetable.cpp.o
.pio/build/esp32dev/libf0e/libEEPROM.a
.pio/build/esp32dev/libf0e/EEPROM/EEPROM.cpp.d
.pio/build/esp32dev/libf0e/EEPROM/EEPROM.cpp.o
.pio/build/esp32dev/src/src.ino.cpp.d
.pio/build/esp32dev/src/src.ino.cpp.o
.pio/build/esp32dev/src/lib/1wire/1Wire.cpp.d
.pio/build/esp32dev/src/lib/1wire/1Wire.cpp.o
.pio/build/esp32dev/src/lib/analog/AN_ESP32.cpp.d
.pio/build/esp32dev/src/lib/analog/AN_ESP32.cpp.o
.pio/build/esp32dev/src/lib/axis/Axis.command.cpp.d
.pio/build/esp32dev/src/lib/axis/Axis.command.cpp.o
.pio/build/esp32dev/src/lib/axis/Axis.cpp.d
.pio/build/esp32dev/src/lib/axis/Axis.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/Motor.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/Motor.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/oDrive/ODrive.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/oDrive/ODrive.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/servo/Servo.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/servo/Servo.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/servo/ServoDriver.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/servo/ServoDriver.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/servo/dc/Dc.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/servo/dc/Dc.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/servo/feedback/Feedback.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/servo/feedback/Feedback.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/servo/feedback/Pid/Pid.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/servo/feedback/Pid/Pid.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/servo/tmc2209/Tmc2209.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/servo/tmc2209/Tmc2209.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/stepDir/StepDir.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/stepDir/StepDir.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/stepDir/StepDirDriver.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/stepDir/StepDirDriver.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/stepDir/generic/Generic.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/stepDir/generic/Generic.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcLegacy/LegacySPI.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcLegacy/LegacySPI.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcLegacy/LegacyUART.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcLegacy/LegacyUART.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcLegacy/TmcSPI.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcLegacy/TmcSPI.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcStepper/StepperSPI.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcStepper/StepperSPI.cpp.o
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcStepper/StepperUART.cpp.d
.pio/build/esp32dev/src/lib/axis/motor/stepDir/tmcStepper/StepperUART.cpp.o
.pio/build/esp32dev/src/lib/calendars/Calendars.cpp.d
.pio/build/esp32dev/src/lib/calendars/Calendars.cpp.o
.pio/build/esp32dev/src/lib/commands/BufferCmds.cpp.d
.pio/build/esp32dev/src/lib/commands/BufferCmds.cpp.o
.pio/build/esp32dev/src/lib/commands/SerialWrapper.cpp.d
.pio/build/esp32dev/src/lib/commands/SerialWrapper.cpp.o
.pio/build/esp32dev/src/lib/convert/Convert.cpp.d
.pio/build/esp32dev/src/lib/convert/Convert.cpp.o
.pio/build/esp32dev/src/lib/debug/Debug.cpp.d
.pio/build/esp32dev/src/lib/debug/Debug.cpp.o
.pio/build/esp32dev/src/lib/encoder/Encoder.cpp.d
.pio/build/esp32dev/src/lib/encoder/Encoder.cpp.o
.pio/build/esp32dev/src/lib/encoder/as37h39bb/As37h39bb.cpp.d
.pio/build/esp32dev/src/lib/encoder/as37h39bb/As37h39bb.cpp.o
.pio/build/esp32dev/src/lib/encoder/cwCcw/CwCcw.cpp.d
.pio/build/esp32dev/src/lib/encoder/cwCcw/CwCcw.cpp.o
.pio/build/esp32dev/src/lib/encoder/pulseDir/PulseDir.cpp.d
.pio/build/esp32dev/src/lib/encoder/pulseDir/PulseDir.cpp.o
.pio/build/esp32dev/src/lib/encoder/pulseOnly/PulseOnly.cpp.d
.pio/build/esp32dev/src/lib/encoder/pulseOnly/PulseOnly.cpp.o
.pio/build/esp32dev/src/lib/encoder/quadrature/Quadrature.cpp.d
.pio/build/esp32dev/src/lib/encoder/quadrature/Quadrature.cpp.o
.pio/build/esp32dev/src/lib/encoder/serialBridge/SerialBridge.cpp.d
.pio/build/esp32dev/src/lib/encoder/serialBridge/SerialBridge.cpp.o
.pio/build/esp32dev/src/lib/ethernet/EthernetManager.cpp.d
.pio/build/esp32dev/src/lib/ethernet/EthernetManager.cpp.o
.pio/build/esp32dev/src/lib/ethernet/cmdServer/CmdServer.cpp.d
.pio/build/esp32dev/src/lib/ethernet/cmdServer/CmdServer.cpp.o
.pio/build/esp32dev/src/lib/ethernet/webServer/WebServer.cpp.d
.pio/build/esp32dev/src/lib/ethernet/webServer/WebServer.cpp.o
.pio/build/esp32dev/src/lib/gpio/Ds2413.cpp.d
.pio/build/esp32dev/src/lib/gpio/Ds2413.cpp.o
.pio/build/esp32dev/src/lib/gpio/Gpio.cpp.d
.pio/build/esp32dev/src/lib/gpio/Gpio.cpp.o
.pio/build/esp32dev/src/lib/gpio/Mcp23008.cpp.d
.pio/build/esp32dev/src/lib/gpio/Mcp23008.cpp.o
.pio/build/esp32dev/src/lib/gpio/Mcp23017.cpp.d
.pio/build/esp32dev/src/lib/gpio/Mcp23017.cpp.o
.pio/build/esp32dev/src/lib/gpio/Pcf8575.cpp.d
.pio/build/esp32dev/src/lib/gpio/Pcf8575.cpp.o
.pio/build/esp32dev/src/lib/gpio/Ssr74HC595.cpp.d
.pio/build/esp32dev/src/lib/gpio/Ssr74HC595.cpp.o
.pio/build/esp32dev/src/lib/gpio/Sws.cpp.d
.pio/build/esp32dev/src/lib/gpio/Sws.cpp.o
.pio/build/esp32dev/src/lib/gpio/Tca9555.cpp.d
.pio/build/esp32dev/src/lib/gpio/Tca9555.cpp.o
.pio/build/esp32dev/src/lib/nv/NV_24XX.cpp.d
.pio/build/esp32dev/src/lib/nv/NV_24XX.cpp.o
.pio/build/esp32dev/src/lib/nv/NV_EEPROM.cpp.d
.pio/build/esp32dev/src/lib/nv/NV_EEPROM.cpp.o
.pio/build/esp32dev/src/lib/nv/NV_ESP.cpp.d
.pio/build/esp32dev/src/lib/nv/NV_ESP.cpp.o
.pio/build/esp32dev/src/lib/nv/NV_M0.cpp.d
.pio/build/esp32dev/src/lib/nv/NV_M0.cpp.o
.pio/build/esp32dev/src/lib/nv/NV_MB85RC.cpp.d
.pio/build/esp32dev/src/lib/nv/NV_MB85RC.cpp.o
.pio/build/esp32dev/src/lib/nv/NV.cpp.d
.pio/build/esp32dev/src/lib/nv/NV.cpp.o
.pio/build/esp32dev/src/lib/pushButton/PushButton.cpp.d
.pio/build/esp32dev/src/lib/pushButton/PushButton.cpp.o
.pio/build/esp32dev/src/lib/sense/Sense.cpp.d
.pio/build/esp32dev/src/lib/sense/Sense.cpp.o
.pio/build/esp32dev/src/lib/serial/Serial_IP_Ethernet.cpp.d
.pio/build/esp32dev/src/lib/serial/Serial_IP_Ethernet.cpp.o
.pio/build/esp32dev/src/lib/serial/Serial_IP_Wifi_Client.cpp.d
.pio/build/esp32dev/src/lib/serial/Serial_IP_Wifi_Client.cpp.o
.pio/build/esp32dev/src/lib/serial/Serial_IP_Wifi.cpp.d
.pio/build/esp32dev/src/lib/serial/Serial_IP_Wifi.cpp.o
.pio/build/esp32dev/src/lib/serial/Serial_Local.cpp.d
.pio/build/esp32dev/src/lib/serial/Serial_Local.cpp.o
.pio/build/esp32dev/src/lib/serial/Serial_MEGA2560.cpp.d
.pio/build/esp32dev/src/lib/serial/Serial_MEGA2560.cpp.o
.pio/build/esp32dev/src/lib/serial/Serial_ST4_Master.cpp.d
.pio/build/esp32dev/src/lib/serial/Serial_ST4_Master.cpp.o
.pio/build/esp32dev/src/lib/serial/Serial_ST4_Slave.cpp.d
.pio/build/esp32dev/src/lib/serial/Serial_ST4_Slave.cpp.o
.pio/build/esp32dev/src/lib/softSpi/SoftSpi.cpp.d
.pio/build/esp32dev/src/lib/softSpi/SoftSpi.cpp.o
.pio/build/esp32dev/src/lib/sound/Sound.cpp.d
.pio/build/esp32dev/src/lib/sound/Sound.cpp.o
.pio/build/esp32dev/src/lib/tasks/OnTask.cpp.d
.pio/build/esp32dev/src/lib/tasks/OnTask.cpp.o
.pio/build/esp32dev/src/lib/tls/DS3231.cpp.d
.pio/build/esp32dev/src/lib/tls/DS3231.cpp.o
.pio/build/esp32dev/src/lib/tls/DS3234.cpp.d
.pio/build/esp32dev/src/lib/tls/DS3234.cpp.o
.pio/build/esp32dev/src/lib/tls/GPS.cpp.d
.pio/build/esp32dev/src/lib/tls/GPS.cpp.o
.pio/build/esp32dev/src/lib/tls/NTP.cpp.d
.pio/build/esp32dev/src/lib/tls/NTP.cpp.o
.pio/build/esp32dev/src/lib/tls/PPS.cpp.d
.pio/build/esp32dev/src/lib/tls/PPS.cpp.o
.pio/build/esp32dev/src/lib/tls/Teensy.cpp.d
.pio/build/esp32dev/src/lib/tls/Teensy.cpp.o
.pio/build/esp32dev/src/lib/watchdog/Watchdog.cpp.d
.pio/build/esp32dev/src/lib/watchdog/Watchdog.cpp.o
.pio/build/esp32dev/src/lib/wifi/WifiManager.cpp.d
.pio/build/esp32dev/src/lib/wifi/WifiManager.cpp.o
.pio/build/esp32dev/src/lib/wifi/cmdServer/CmdServer.cpp.d
.pio/build/esp32dev/src/lib/wifi/cmdServer/CmdServer.cpp.o
.pio/build/esp32dev/src/lib/wifi/webServer/WebServer.cpp.d
.pio/build/esp32dev/src/lib/wifi/webServer/WebServer.cpp.o
.pio/build/esp32dev/src/libApp/commands/ProcessCmds.cpp.d
.pio/build/esp32dev/src/libApp/commands/ProcessCmds.cpp.o
.pio/build/esp32dev/src/libApp/temperature/Ds1820.cpp.d
.pio/build/esp32dev/src/libApp/temperature/Ds1820.cpp.o
.pio/build/esp32dev/src/libApp/temperature/Temperature.cpp.d
.pio/build/esp32dev/src/libApp/temperature/Temperature.cpp.o
.pio/build/esp32dev/src/libApp/temperature/Thermistor.cpp.d
.pio/build/esp32dev/src/libApp/temperature/Thermistor.cpp.o
.pio/build/esp32dev/src/libApp/weather/Weather.cpp.d
.pio/build/esp32dev/src/libApp/weather/Weather.cpp.o
.pio/build/esp32dev/src/plugins/sample/Sample.cpp.d
.pio/build/esp32dev/src/plugins/sample/Sample.cpp.o
.pio/build/esp32dev/src/telescope/Telescope.command.cpp.d
.pio/build/esp32dev/src/telescope/Telescope.command.cpp.o
.pio/build/esp32dev/src/telescope/Telescope.cpp.d
.pio/build/esp32dev/src/telescope/Telescope.cpp.o
.pio/build/esp32dev/src/telescope/addonFlasher/AddonFlasher.cpp.d
.pio/build/esp32dev/src/telescope/addonFlasher/AddonFlasher.cpp.o
.pio/build/esp32dev/src/telescope/auxiliary/Features.command.cpp.d
.pio/build/esp32dev/src/telescope/auxiliary/Features.command.cpp.o
.pio/build/esp32dev/src/telescope/auxiliary/Features.cpp.d
.pio/build/esp32dev/src/telescope/auxiliary/Features.cpp.o
.pio/build/esp32dev/src/telescope/auxiliary/dewHeater/DewHeater.cpp.d
.pio/build/esp32dev/src/telescope/auxiliary/dewHeater/DewHeater.cpp.o
.pio/build/esp32dev/src/telescope/auxiliary/intervalometer/Intervalometer.cpp.d
.pio/build/esp32dev/src/telescope/auxiliary/intervalometer/Intervalometer.cpp.o
.pio/build/esp32dev/src/telescope/focuser/Focuser.axis.cpp.d
.pio/build/esp32dev/src/telescope/focuser/Focuser.axis.cpp.o
.pio/build/esp32dev/src/telescope/focuser/Focuser.command.cpp.d
.pio/build/esp32dev/src/telescope/focuser/Focuser.command.cpp.o
.pio/build/esp32dev/src/telescope/focuser/Focuser.cpp.d
.pio/build/esp32dev/src/telescope/focuser/Focuser.cpp.o
.pio/build/esp32dev/src/telescope/mount/Mount.axis.cpp.d
.pio/build/esp32dev/src/telescope/mount/Mount.axis.cpp.o
.pio/build/esp32dev/src/telescope/mount/Mount.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/Mount.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/Mount.cpp.d
.pio/build/esp32dev/src/telescope/mount/Mount.cpp.o
.pio/build/esp32dev/src/telescope/mount/coordinates/Align.hs.cpp.d
.pio/build/esp32dev/src/telescope/mount/coordinates/Align.hs.cpp.o
.pio/build/esp32dev/src/telescope/mount/coordinates/Align.ref.cpp.d
.pio/build/esp32dev/src/telescope/mount/coordinates/Align.ref.cpp.o
.pio/build/esp32dev/src/telescope/mount/coordinates/Transform.cpp.d
.pio/build/esp32dev/src/telescope/mount/coordinates/Transform.cpp.o
.pio/build/esp32dev/src/telescope/mount/goto/Goto.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/goto/Goto.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/goto/Goto.cpp.d
.pio/build/esp32dev/src/telescope/mount/goto/Goto.cpp.o
.pio/build/esp32dev/src/telescope/mount/guide/Guide.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/guide/Guide.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/guide/Guide.cpp.d
.pio/build/esp32dev/src/telescope/mount/guide/Guide.cpp.o
.pio/build/esp32dev/src/telescope/mount/home/Home.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/home/Home.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/home/Home.cpp.d
.pio/build/esp32dev/src/telescope/mount/home/Home.cpp.o
.pio/build/esp32dev/src/telescope/mount/library/Library.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/library/Library.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/library/Library.cpp.d
.pio/build/esp32dev/src/telescope/mount/library/Library.cpp.o
.pio/build/esp32dev/src/telescope/mount/limits/Limits.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/limits/Limits.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/limits/Limits.cpp.d
.pio/build/esp32dev/src/telescope/mount/limits/Limits.cpp.o
.pio/build/esp32dev/src/telescope/mount/park/Park.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/park/Park.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/park/Park.cpp.d
.pio/build/esp32dev/src/telescope/mount/park/Park.cpp.o
.pio/build/esp32dev/src/telescope/mount/pec/Pec.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/pec/Pec.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/pec/Pec.cpp.d
.pio/build/esp32dev/src/telescope/mount/pec/Pec.cpp.o
.pio/build/esp32dev/src/telescope/mount/site/Site.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/site/Site.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/site/Site.cpp.d
.pio/build/esp32dev/src/telescope/mount/site/Site.cpp.o
.pio/build/esp32dev/src/telescope/mount/st4/St4.cpp.d
.pio/build/esp32dev/src/telescope/mount/st4/St4.cpp.o
.pio/build/esp32dev/src/telescope/mount/status/Status.command.cpp.d
.pio/build/esp32dev/src/telescope/mount/status/Status.command.cpp.o
.pio/build/esp32dev/src/telescope/mount/status/Status.cpp.d
.pio/build/esp32dev/src/telescope/mount/status/Status.cpp.o
.pio/build/esp32dev/src/telescope/rotator/Rotator.axis.cpp.d
.pio/build/esp32dev/src/telescope/rotator/Rotator.axis.cpp.o
.pio/build/esp32dev/src/telescope/rotator/Rotator.command.cpp.d
.pio/build/esp32dev/src/telescope/rotator/Rotator.command.cpp.o
.pio/build/esp32dev/src/telescope/rotator/Rotator.cpp.d
.pio/build/esp32dev/src/telescope/rotator/Rotator.cpp.o
.pio/libdeps/esp32dev/integrity.dat
.pio/libdeps/esp32dev/EspSoftwareSerial/.gitignore
.pio/libdeps/esp32dev/EspSoftwareSerial/.piopm
.pio/libdeps/esp32dev/EspSoftwareSerial/keywords.txt
.pio/libdeps/esp32dev/EspSoftwareSerial/library.properties
.pio/libdeps/esp32dev/EspSoftwareSerial/LICENSE
.pio/libdeps/esp32dev/EspSoftwareSerial/README.md
.pio/libdeps/esp32dev/EspSoftwareSerial/examples/bitpattern/bitpattern.ino
.pio/libdeps/esp32dev/EspSoftwareSerial/examples/loopback/loopback.ino
.pio/libdeps/esp32dev/EspSoftwareSerial/examples/onewiretest/onewiretest.ino
.pio/libdeps/esp32dev/EspSoftwareSerial/examples/repeater/repeater.ino
.pio/libdeps/esp32dev/EspSoftwareSerial/examples/servoTester/servoTester.ino
.pio/libdeps/esp32dev/EspSoftwareSerial/examples/swsertest/swsertest.ino
.pio/libdeps/esp32dev/EspSoftwareSerial/src/SoftwareSerial.cpp
.pio/libdeps/esp32dev/EspSoftwareSerial/src/SoftwareSerial.h
.pio/libdeps/esp32dev/EspSoftwareSerial/src/circular_queue/circular_queue_mp.h
.pio/libdeps/esp32dev/EspSoftwareSerial/src/circular_queue/circular_queue.h
.pio/libdeps/esp32dev/EspSoftwareSerial/src/circular_queue/Delegate.h
.pio/libdeps/esp32dev/EspSoftwareSerial/src/circular_queue/ghostl.h
.pio/libdeps/esp32dev/EspSoftwareSerial/src/circular_queue/MultiDelegate.h
Extended.config.h
debug.cfg
esp32.svd
